<h1 id="tableLabel">Categories</h1>

<p *ngIf="!categories"><em>Loading...</em></p>

<a [routerLink]="['../category-add']" class="btn btn-sm btn-success mb-2">Add Category</a>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="categories">
  <thead>
    <tr>
      <th style="width: 80%">Name</th>
      <th style="width: 20%">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.name }}</td>
      <td style="white-space: nowrap">
        <a routerLink="../category-edit/{{category.categoryId}}" class="btn btn-sm btn-primary mr-1">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
