<h1 id="tableLabel" *ngIf="returnManagement">{{returnManagement.returnManagementName}} Return</h1>

<p *ngIf="!returnManagement"><em>Loading...</em></p>


<div>

  <mat-form-field style="width: 200px;margin-left:10px;">
    <mat-label> Filter Filed Status </mat-label>
    <select matNativeControl name="clientStatus"
            (change)="filterFiledStatus($event)">
      <option value="all"> All </option>
      <option value="true"> Yes </option>
      <option value="false" selected> No </option>
    </select>
  </mat-form-field>

  <mat-form-field style="width: 200px; margin-left: 10px;">
    <mat-label> Filter Categories </mat-label>
    <select matNativeControl name="categories"
            (change)="filterCategoryChange($event)">
      <option value="all"> All </option>
      <option *ngFor="let filter of categories" [value]="filter.categoryId">{{filter.name}}</option>
    </select>
  </mat-form-field>

  <mat-form-field style="width: 200px; margin-left: 10px;">
    <mat-label> Filter HST Period </mat-label>
    <select matNativeControl name="categories"
            (change)="filterHstPeriod($event)">
      <option value="all"> All </option>
      <option *ngFor="let c of hstPeriodDrownDown" [value]="c">{{c}}      </option>
    </select>
  </mat-form-field>
  <a (click)="generateExcel()" style="margin-left: 15px" class="btn btn-sm btn-primary mr-1">Export To Excel</a>

  <a *ngIf="selection.selected.length > 0" (click)="sendEmail()" style="margin-left: 15px" class="btn btn-sm btn-primary mr-1">Send Email</a>
</div>

<div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Serial Number Column -->
    <ng-container matColumnDef="serialNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Serial Number </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.serialNumber}} </mat-cell>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="clientName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.clientName}} </mat-cell>
    </ng-container>

    <!-- Category Name Column -->
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.categoryName}} </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.companyName}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.email}} </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.address}} </mat-cell>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.phoneNumber}} </mat-cell>
    </ng-container>

    <!-- Business Column -->
    <ng-container matColumnDef="business">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Business </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.client.business}} </mat-cell>
    </ng-container>
    <!-- Edit Column -->

    <ng-container matColumnDef="filed">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Filed </mat-header-cell>
      <mat-cell *matCellDef="let row">

        <!--<mat-form-field>
        <mat-select [(ngModel)]="row.client.filed">
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>-->

        <select class="form-control" id="filed" [(ngModel)]="row.filed" (change)="onFiledChange(row.client.clientId, $event)">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <!--<mat-paginator [pageSizeOptions]="[50, 100, 500, 1000, 2000, 5000]"></mat-paginator>-->
</div>










<!--<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="returnManagement">
  <thead>
    <tr>
      <th style="width: 10%">Serial Number</th>
      <th style="width: 10%">Client Name</th>
      <th style="width: 10%">Company Name</th>
      <th style="width: 10%">Category</th>
      <th style="width: 15%">Email</th>
      <th style="width: 10%">Phone Number</th>
      <th style="width: 10%">Business#</th>
      <th style="width: 10%">Filed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of returnManagement.clientReturns">
      <td>{{ client.client.serialNumber }}</td>
      <td><a href="client-detail/{{client.client.clientId}}">{{ client.client.clientName }}</a> </td>
      <td>{{ client.client.companyName }}</td>
      <td>{{ client.client.categoryName }}</td>
      <td>{{ client.client.email }}</td>
      <td>{{ client.client.phoneNumber }}</td>
      <td>{{ client.client.business }}</td>
      <td>
        <select class="form-control" id="status" [(ngModel)]="client.filed" (change)="onFiledChange(client.client.clientId, $event)">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>-->



<a [routerLink]="['../../return-view']" class="btn btn-sm btn-success mb-2">Back</a>
