<h2 mat-dialog-title>Email</h2>

<angular-editor [(ngModel)]="body" [config]="config"></angular-editor>

<br />

<mat-dialog-content [formGroup]="form">

  <mat-form-field >
    <input matInput
           placeholder="Email Subject"
           formControlName="description" required>
  </mat-form-field>

  <!--<mat-form-field>

    <textarea matInput
              placeholder="Email Body"
              formControlName="body"
              style="height:250px;">
    </textarea>
  </mat-form-field>-->

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" style="margin-left:15px;" (click)="save()">Send</button>
</mat-dialog-actions>
